<h2><%= @question.title  %></h2>
<br>
<br>
<p><%= @question.content %></p>
<br>
<% @question.tags.each do |tag| %>
  <%= tag.name %>
<% end %>
<br>
<br>
<%= render partial: "answers/form" %>
<br>
<br>
<% @question.answers.each do |answer| %>
  <p><%= answer.content %></p>
  <br>
<% end %>
