<h2><%= @question.title  %></h2>
<% if current_user == @question.user %>
  <%= link_to "Edit", edit_question_url %>
<% end %>
<br>
<br>
<p><%= @question.content %> <%= button_to "Shocka ^", question_path(@question) %></p>
<br>
<% @question.tags.each do |tag| %>
  <%= tag.name %>
<% end %>
<br>
<br>
<h3>Answer</h3>
<br>
<% if flash %>
  <p><%= flash[:notice] %></p>
<% end %>
<%= render partial: "answers/form" %>
<br>
<br>
<% @question.answers.each do |answer| %>
  <p><%= answer.content %> <%= button_to "Shocka ^", question_path(@question) %></p>
  <br>
<% end %>
