<h2><%= @question.title  %></h2>
<br>
<br>
<p><%= @question.content %></p>
<br>
<br>
<%= form_for @answer do |f| %>
  <%= f.hidden_field :question_id, @question.id %>
  Content:
  <br>
  <%= f.text_area :answer_content %>
  <br>
  <br>
  <%= f.submit "Save" %>
<% end %>
