<h2><%= @question.title  %></h2>
<br>
<br>
<p><%= @question.content %></p>
<br>
    <%= link_to "Upvote", { controller: "questions", action: "upvote",  id: @question.id }, method: :post %>
<br>
<%= render partial: "answers/form" %>
<br>
<br>
<% @question.answers.each do |answer| %>
  <p><%= answer.content %></p>
  <br>
<% end %>
